<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
        </div>

        <!-- Content -->
        <article class="content">
            <h1 class="content__title">Buscat Usuarios de GitHub</h1>
            <p>{{message}}</p>

            <!-- Search -->
            <form class="search" v-on:submit.prevent="Buscar">
                <input v-model="busqueda" type="text" class="search__input" required placeholder="Buscar Usuarios GitHub">
                <input type="submit" class="search__submit" value="Buscar">
            </form>

            <!-- Result -->
            <div class="result" v-if="result">
                <h2 class="result__name">Valen Lopez</h2>
                <img src="gatito.JPG" alt="" class="result__avatar">
                <p class="result__bio">Aprendiz exitoso graduado de Tecnologia en DSI del SENA
                    Creador de nuevas apps que revolucionaron la industira de la programacion de las vidas humanas
                </p><br>
                <a href="www.sena.edu.co">SENA</a>
            </div>
            <!-- Error -->
            <div class="result__error"></div>
        </article>
    </div>
    <script src="js/main.js"></script>
    <script>
        const mountApp = app.mount('#app')
    </script>
</body>

</html>